.root {
    -fx-background-color: #121212;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #ffffff;
}


.price-card {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 3);
    -fx-transition: all 0.2s ease-in-out;
}


.price-card:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}


.button {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #5c6bc0;
}
